* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
}

.register {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: white;
}

.register h1 {
    font-size: 36px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.register form {
    font-size: 20px;
}

.register form .form-group {
    margin-top: 12px;
    margin-bottom: 12px;
}

.register form button {
    font-size: 20px;
    margin-top: 15px;
}
.mainPageLink {
    font-size: 5rem;
    font-weight: 600;
    padding: 2rem;
}